<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WAV to Text</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/configs/config.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/wav_to_text.js') }}" defer></script>
</head>

<body>
    <div class="header">
        <a class="header__logo" href="/" title="Rec & Etu">
            <img class="logo-img" src="https://rec-etu.com/images/joomlart/uber/logo/logo-header_spb.gif" alt="Rec & Etu">
        </a>
        <div class="header__nav">
            <a href="/wav-to-text"><button class="nav__btn">WAV to text</button></a>
            <a href="/voice-to-text"><button class="nav__btn">Speech to text</button></a>
        </div>
    </div>
    <div class="content">
        <div class="uploadForm">
            <h1 style="margin: 20px 0;">Загрузите аудио файл для транскрибирования</h1>
            <form id="uploadForm">
                <div class="file-input-wrapper">
                    <span class="custom-file-button">Выбрать файл</span>
                    <input type="file" id="fileInput" name="file" accept="audio/*">
                    <span class="file-name" id="fileName">Файл не выбран</span>
                </div>
                <button type="submit">Загрузить</button>
            </form>
        </div>
        <div id="resultForm">
            <h2>Результат транскрибирования</h2>
            <div id="result"></div>
            <button id="downloadBtn" style="display: none; align-self: end; margin-right: 30px;">Скачать</button>
        </div>
    </div>
</body>

</html>
