<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Speech to Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <a class="header__logo" href="/" title="Rec &amp; Etu">
            <img class="logo-img" src="https://rec-etu.com/images/joomlart/uber/logo/logo-header_spb.gif"
                alt="Rec &amp; Etu">
        </a>
        <div class="header__nav">
            <a href="/wav-to-text"><button class="nav__btn">WAV to text</button></a>
            <a href="/voice-to-text"><button class="nav__btn">Speech to text</button></a>
        </div>
    </div>
    <div class="content">
        <h1>Главная страница</h1>
    </div>

    <script>

    
    </script>
</body>

</html>